<?xml version="1.0" encoding="UTF-8" ?>


<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="ProductMapper">
 	
	<resultMap id="productSelectMap" 		type="product">
		<result property="prodNo" 			column="prod_no" 			jdbcType="INTEGER"  />
		<result property="prodName"			column="prod_name" 			jdbcType="VARCHAR"  />
		<result property="prodDate" 		column="prod_date" 			jdbcType="TIMESTAMP"/>
		<result property="prodPrice" 		column="prod_price" 		jdbcType="INTEGER"  />
		<result property="prodDetail" 		column="prod_detail" 		jdbcType="VARCHAR"  />
		<result property="prodImage" 		column="prod_image" 		jdbcType="VARCHAR"  />
		<result property="franType" 		column="fran_type" 			jdbcType="INTEGER"  />
		<result property="prodType" 		column="prod_type" 			jdbcType="INTEGER"  />
		<result property="quantity" 		column="quantity" 			jdbcType="INTEGER"  />
	</resultMap>
	
	<!-- SQL : INSERT -->
	<insert 	id="addProduct"		parameterType= "Product" >
	 	INSERT
		INTO product ( prod_no , prod_name , prod_date , prod_price , prod_detail ,prod_image , fran_type , prod_type ,quantity) 
		VALUES	 (seq_product_prod_no.NEXTVAL , #{prodName} , SYSTIMESTAMP , #{prodPrice}, #{prodDetail},
							#{prodImage} , #{franType} , #{prodType} ,null)
	 </insert>

	 <select id="getProduct" parameterType="INTEGER"  resultMap="productSelectMap" >
	 	SELECT
	 	*
	 	FROM PRODUCT
	 	WHERE prod_no = #{prodNo}
	 </select>
	
	<update id="updateProduct" parameterType="Product">
		UPDATE product
		<set>
			prod_name = #{prodName},
			prod_price	= #{prodPrice},
			prod_detail	= #{prodDetail},
			prod_image = #{prodImage},
			fran_type = #{franType},
			prod_type = #{prodType}
		</set>
		WHERE prod_no = #{prodNo}	
	</update>
	
	
	<update id="deleteProduct" parameterType="Product">
		DELETE FROM product 
		WHERE prod_no = #{prodNo}	
	</update>
	
	<select id="getProductMainList" parameterType="Search" resultMap="productSelectMap" >
		SELECT *
		FROM ( SELECT inner_table.* , ROWNUM AS row_seq
					FROM 		( SELECT *
										FROM product
										<if test="searchCondition != null">
											<where>
													<if test="searchCondition == 0 and searchKeyword !='' ">
							 						prod_no LIKE '%'||#{searchKeyword}||'%'
													</if>
													<if test="searchCondition == 1 and searchKeyword !='' ">
							 						prod_name LIKE '%'||#{searchKeyword}||'%'
													</if>
													<if test="searchCondition == 2 and searchKeyword !='' ">
							 						prod_price LIKE '%'||#{searchKeyword}||'%'
													</if>
											</where>
										</if>
										ORDER BY prod_no ) inner_table
								WHERE ROWNUM &lt;= #{endRowNum} )
				 	WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum}		
	</select>
	

	

	
	<select id="getVoucherList" parameterType="Product" resultMap="productSelectMap" >
		SELECT *
		FROM product
		WHERE prod_type BETWEEN 0 AND 1
		ORDER BY prod_price
	</select>
	
	<select id="getSnackProductList" parameterType="Product" resultMap="productSelectMap" >
		SELECT *
		FROM product
		WHERE prod_type=2
		ORDER BY prod_no
	</select>
	
	<select id="getQuickOrder" parameterType="Product" resultMap="productSelectMap" >
		SELECT *
		FROM product
		WHERE prod_type=2
		ORDER BY prod_no
	</select>
	
	<select id="getProductList" parameterType="search" resultMap="productSelectMap" >
		SELECT *
		FROM ( SELECT inner_table.* , ROWNUM AS row_seq
					FROM 		( SELECT  *
										FROM product
										<if test="searchCondition != null">
											<where>
													<if test="searchCondition == 0 and searchKeyword !='' ">
							 						prod_name LIKE '%'||#{searchKeyword}||'%'
													</if>
													<if test="searchCondition == 1 and searchKeyword !='' ">
							 						prod_price LIKE '%'||#{searchKeyword}||'%'
													</if>
											</where>
										</if>
										ORDER BY prod_no ) inner_table
								WHERE ROWNUM &lt;= #{endRowNum} )
				 	WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum}		
	</select>
	
	
	
	<select  id="getTotalCount"  parameterType="Search"	 resultType="INTEGER">
	  	SELECT COUNT(*)
	  	FROM(	SELECT  *
						FROM product
						<if test="searchCondition != null">
							<where>
								<if test="searchCondition == 0 and searchKeyword !='' ">
						 		prod_name LIKE '%'||#{searchKeyword}||'%'
								</if>
								<if test="searchCondition == 1 and searchKeyword !='' ">
						 		prod_price LIKE '%'||#{searchKeyword}||'%'
								</if>
							</where>
						</if> ) countTable						
	 </select>	
	
</mapper>
